$background: #050505;
$white: #ffffff;

$link: Manrope-bold, sans-serif;

body {
  margin: 0;
  width: 100vw;
  height: 600vh;
  background-color: $background;
  overflow-X: hidden;
}

.background {
  position: fixed;
  width: 132vw;
  transform: translate(-16vw, -40vh);
  z-index: 0;
  //fill: currentColor;

}

.intro {
  position: fixed;
  display: flex;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  fill: currentColor;

  .logo {
    position: fixed;
    align-self: center;
    overflow: visible;
    z-index: 1000;
    width: 80vw;
    transform-origin: center;
  }

  .change {
    display: flex;
    position: relative;
    top: 0;
    left: 0;
    width: 80vw;
    z-index: 1000;
    transform-origin: center;
  }

  .L {
    position: absolute;
    transform: matrix(1, 0, 0, 1, -60, -500) scale(8);
  }

  .U {
    position: absolute;
    transform: matrix(1, 0, 0, 1, 0, 800) scale(5);
    transform-origin: 100px 0 !important;
  }

  .O {
    position: absolute;
    transform: matrix(1, 0, 0, 1, 0, -1100) scale(5);
    transform-origin: 195px 0px !important;
  }

  .M {
    position: absolute;
    transform: matrix(1, 0, 0, 1, 0, 800) scale(5);
    transform-origin: 275px 0 !important;
  }

  .U-2 {
    position: absolute;
    transform: matrix(1, 0, 0, 1, 0, -930) scale(5);
    transform-origin: 300px 0 !important;
  }

  a {
    display: none;
    opacity: 0;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    border-radius: 50px;
    color: $white;
    text-decoration: none;
    font-family: $link;
    font-size: 18px;
    letter-spacing: 0.03em;
    transition: all 0.5s ease-in;
  }
}