$background: #050505;
$white: #ffffff;



body {
  margin: 0;
  width: 100vw;
  height: 600vh;
  background-color: $background;
  overflow-X: hidden;
}

.background {
  position: fixed;
  width: 132vw;
  transform: translate(-16vw, -40vh);
  z-index: 0;
  //fill: currentColor;

}

.intro {
  position: fixed;
  display: flex;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  fill: currentColor;

  .logo {
    position: fixed;
    align-self: center;
    overflow: visible;
    z-index: 1000;
    width: 80vw;
    transform-origin: center;
  }

  .L {
    position: absolute;
    transform: matrix(1, 0, 0, 1, -60, -500) scale(8);
  }

  .U {
    position: absolute;
    transform: matrix(1, 0, 0, 1, 0, 800) scale(5);
    transform-origin: 100px 0 !important;
  }

  .O {
    position: absolute;
    transform: matrix(1, 0, 0, 1, 0, -1100) scale(5);
    transform-origin: 195px 0px !important;
  }

  .M {
    position: absolute;
    transform: matrix(1, 0, 0, 1, 0, 800) scale(5);
    transform-origin: 275px 0 !important;
  }

  .U-2 {
    position: absolute;
    transform: matrix(1, 0, 0, 1, 0, -930) scale(5);
    transform-origin: 300px 0 !important;
  }

  a{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 8px 18px;

    position: absolute;
    width: 123px;
    height: 40px;
    left: 236px;
    top: 60px;

    border-radius: 50px;
    color: $white;
    text-decoration: none;
    font-style: none;
  }
}